html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', 'Montserrat', sans-serif;
    line-height: 1.8;
}

.wrapper, 
nav {
    max-width: 1070px;
    width: 60%;
}

.wrapper {
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* Home Header */

h1, 
h2, 
h3, 
h4, 
nav {
    text-transform: uppercase;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
    letter-spacing: 1px;
}

h1 {
    font-size: 2.8rem;
    font-weight: 600;
    /* positioning with absolute and translate as opposed to floats so that the vertical center is exact for all three nav elements...might re-visit this... */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
}

.h1Background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 98.75px;
    width: 2px;
    background-color: rgb(238, 237, 240);
}

h2 {
    /* margin: calc(7.5vh + 35px) auto 85px auto; */
    /* display: inline-block; */
    font-size: 1.8rem;
    text-align: center;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.7rem;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a i {
    transition: all 0.3s;
}

a:hover i {
    transform: scale(1.2);
}


p {
    font-size: 1.1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    height: 50vw;
    background: rgb(238, 237, 240) url("creative/assets/home-1.jpeg") fixed center -2.8vw no-repeat; 
    background-size: 100%;
    z-index: 20;
    text-align: center;
    position: relative;
}

nav, 
.navBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 60%;
    margin: 0 auto;
}

nav {
    z-index: 30;
}


.navBackground {
    z-index: 10;
    width: 100%;
    background-color: rgb(238, 237, 240);
    height: 98.75px;
}

nav a {
    color: #000;
    display: inline-block;
    padding: 40px 5px;
}

nav a:hover {
    text-decoration: line-through;
}

nav li {
    margin: 0 5px;
    float: left;
}

.navLeft {
    float: left;
}

.navRight {
    float: right;
}

.cartCountCircle {
    background: rgb(195, 218, 183);
    border-radius: 50%;
    height: 12px;
    width: 12px;
    position: absolute;
    bottom: 36px;
    right: -1px;
}

.navIcon {
    font-size: 1.5rem;
}

.cartCountCircle p {
    margin: 0;
    font-size: 0.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a[href="#shoppingCart"] {
    position: relative;
}

/* Home Body */

.verticalLine {
    /* vertical lines were built before we were taught before and after, might go back and change once everything else is built */
    border: 0.5px solid rgb(153, 153, 153);
    position: absolute;
    left: 50%;
}

.bottomVerticalLine {
    height: 7.5vh;
    bottom: 0;
}

.topVerticalLine {
    height: 7.5vh;
    top: 0;
}

.brandingDesign {
    background: rgb(195, 218, 183);
    text-align: center;
    padding-top: 150px;
    position: relative;
}

.graphic {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}

.deskImage {
    width: 350px;
}

.brandingTextContainer {
    text-align: center;
    padding-bottom: 100px;
}

.wordCircle {
    width: 190px;
    position: absolute;
    top: -68px;
    left: -79px;
}

/* Home Branding */

.brandingText {
    width: 20%;
    margin: 0 1%;
    padding: 0 1%;
    display: inline-block;
}

.brandingText h3 {
    margin-bottom: 5px;
}

/* Home Flickity */

.flickityInner {
    position: relative;
    margin: 115px 0 100px 0;
}

.chevron {
    float: left;
    width: 15%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.chevronLeft {
    left: 0;
}

.chevronRight {
    right: 0;
}

.flickity .imageText {
    float: left;
    width: 70%;
    text-align: center;
    /* margin-left covers the space of chevronLeft since chevrons have absolute positioning */
    margin-left: 15%;
}

.flickityImg img {
    border-radius: 50%;
}

.flickityImg {
    width: 215px;
    display: inline-block;
}

.flickity .chevron i {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.flickity .chevronRight i {
    right: 0;
}

.flickity .chevron i:hover {
    color:rgb(153, 153, 153);
} 

.flickity p {
    font-style: italic;
    font-size: 1.3rem;
    /* color sampled in photoshop to 102,102,102 but with different pixels as different shades of grey. Matching to the chevron color and other use of grey throughout.  */
    color: rgb(153, 153, 153);
    padding-top: 20px;
}

/* Home Features */

.features {
    background:rgb(238, 237, 240) url(creative/assets/home-4.jpeg) center no-repeat;
    background-size: cover;
}

.featuresContainer {
    width: 42%;
    margin-left: 50%;
    padding: 125px 0 115px 0;
}

.features p {
    color: rgb(153, 153, 153);
    font-size: 1rem;
    margin-top: 5px;
}

.features .iconCircle {
    border: 1.5px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-right: 30px;
}

.features i {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.featureText {
    float: left;
    /* subtracting iconCircle width and margin  */
    width: calc(100% - 50px - 30px);
    padding-right: 30px;
}

.feature {
    position: relative;
    width: 50%;
    float: left;
    margin: 33px 0;

}

/* Home Team */

.team {
    position: relative;
    padding-top: calc(7.5vh + 35px);
    padding-bottom: 140px;
}

.teamCards {
    position: relative;
}

.team .headshot, 
.team .workWithUsLi, 
.teamText {
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    margin: 10px;
    display: block;
}

.teamText {
    width: 420px;
    background: rgb(246, 246, 246);
    position: relative;
}

.teamTextInner {
    position: absolute;
    bottom: 28px;
    left: 31px;
    right: 31px;
}

.teamTextInner h3 {
    font-size: 1.2rem;
    color: rgb(97, 97, 97);
}

.teamTextInner p {
    color: rgb(153, 153, 153);
    font-size: 1rem;
    padding-top: 17px;
}

.team .headshot,
.team .personalDetails {
    transition: all 0.5s;
}

.team .personalDetails {
    position: absolute;
    background: rgba(238, 237, 240, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.team .headshot:hover .personalDetails {
    opacity: 1;
}

/* .headshot:hover {
    transform: scale(1.05);
} */

.team .personalDetailsInner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team .wrapper {
    max-width: calc(1000px + 20px);
    width: calc(60% + 20px);
}

.team .workWithUsLi a {
    text-transform: uppercase;
    color: rgb(150, 150, 150);
    font-size: 1.2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
    padding: 25px;
}

.team .workWithUsLi a:hover {
    text-decoration: line-through;

}

.team h2 {
    padding-bottom: 65px;
}

/* Home Drop Us a Line */

.dropLineLeft, 
.dropLineRight {
    width: 50%;
    height: 48vw;
    position: relative;
    float: left;
}

.dropLineLeft {
    background: rgb(195, 218, 183);
}

.dropLineRight {
    background: rgb(174, 108, 101) url(creative/assets/home-10.jpeg);
    background-size: cover;
}

.dropLineText {
    width: 50%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dropLineText h2 {
    padding-bottom: 45px;
}

.dropLineText p {
    color: rgb(102, 102, 102);
    font-size: 1rem;
    padding-bottom: 57px;
}

.dropLineText a {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: black;
    padding: 17px 25px;
    background: rgb(255, 255, 255);
}

.dropLineText a:hover {
    text-decoration: line-through;
}

/* Footer */

footer {
    background: rgb(51, 51, 51);
    color: white;
}

footer p {
    font-size: 1.1rem;
}

footer a {
    color: white;
}

.recentPosts a:hover {
    text-decoration: line-through;
}

footer li {
    padding-bottom: 3px;
    font-size: 1.1rem;
}

footer li:before {
    content: "・";
    font-size: 1.2rem;
    vertical-align: middle;
}

footer h3 {
    padding: 110px 0 30px 0;
}

.footerTop {
    padding-bottom: 90px;
}

.socialIcons {
    padding-top: 20px;
}

.socialIcons a {
    padding: 20px 20px 20px 0;
}

.footerInner {
    position: relative;
}

.footerThird {
    width: calc(100% / 3);
    float: left;
}

.recentPosts h3 {
    text-align: center;
}

.recentPosts ul {
    padding-left: 18%;
}

.subscribe {
    text-align: right;
}

.subscribe p {
    padding-bottom: 20px;
}

.subscribe input {
    border-style: none;
    height: 33px;
    float: right;
}

.subscribe input[type="email"] {
    padding: 0 50px 0 15px;
    color: rgb(153, 153, 153)
}

.subscribe input[type="submit"] {
    padding: 0 12px;
    background: rgb(195, 218, 183);
    font-size: 2.1rem;
}

footer h2 {
    position: relative;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 5px;
    text-align: center;
    padding: 60px 0;
    transform: translate(0, 0);
    border-top: 1px solid rgb(72, 72, 72);
}

/* ******************** */
/* ** SUBPAGE SHARED ** */
/* ******************** */

.subpageHeader {
    font-size: 4.5rem;
    font-weight: 700;
    text-align: left;
    line-height: 1.2;
    position: relative;
}


/* ****************** */
/* ** CONTACT PAGE ** */
/* ****************** */

/* Contact header */

header.contact {
    height: 98.75px;
    background: rgb(255, 255, 255);
}

.navBackground.contact {
    background-color: rgb(255, 255, 255);
}

.wrapper.subpageHeader {
    top: -5vw;
}

.contact.subpageHeader::before {
    content: "";
    background: #000;
    height: 2px;
    width: 30px;
    top: -2vw;
    position: absolute;
}

.mainTopImage {
    background: rgb(238, 237, 240) url("creative/assets/contact-1.jpeg") center 0 no-repeat; 
    background-size: 100%;
    height: 11.5vw;
}

.contact h3 {
    font-weight: 600;
    padding-bottom: 15px;
}

.contact h4 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 5px;
    padding-top: 15px;
    padding-bottom: 7px;
}

.contactDetailsIntro {
    padding-bottom: 80px;
}

.contact .contactDetails p,
.contact .contactDetails a,
.contactMethod li,
.contact .getInTouch p,
.contact .getInTouch a,
.getInTouch input {
    color: rgb(153, 153, 153);
    line-height: 1.5;
}

.contactMethod {
    float: left;
    padding: 0 50px;
    position: relative;
    width: calc(100% / 3);
}

.contactMethod:nth-child(1n+2)::before {
    content: "";
    background: rgb(204, 204, 204);
    height: 165px;
    width: 0.5px;
    position: absolute;
    left: 0;
    top: -35px;
}

.contactDetails li p,
.contactDetails li a {
    font-size: 1rem;
}

.contact .contactDetails i {
    font-size: 3rem;
}

.getInTouchIntro {
    padding: 80px 0;
}

form.getInTouch {
    position: relative;
    padding-bottom: 80px;
}

.getInTouch input,
textarea {
    border: none;
    background: none;
    float: left;
    font-size: 1.1rem;
    color: rgb(153, 153, 153);
    position: relative;
    border-bottom: 1px solid rgb(215, 215, 215);
    padding: 30px 0 5px 0;
}

.getInTouch input:focus,
textarea:focus {
    color: black;
    border-bottom: 1px solid black;
}

.topLine {
    width: calc((100% - 6%) / 3);
}

.topLine:nth-child(1n+2){
    margin-left: 3%; 
}

textarea {
    width: 100%;
    resize: none;
}

input.leaveCommentComment {
    width: 100%;
    /* height: 100px; */
    padding-bottom: 80px;
    
}

.getInTouch input[type=button] {
    text-transform: uppercase;
    color: black;
    border-bottom: 1px solid black;
    padding-top: 40px;
}

.preFooterHero {
    background: rgb(238, 237, 240) url("creative/assets/contact-2.jpeg") center 0 no-repeat; 
    background-size: 100%;
    height: 35.5vw;
}
/* *************** */
/* ** BLOG PAGE ** */
/* *************** */

/* blog header */

.blog header {
    height: 47vw;
    background: rgb(238, 237, 240) url("creative/assets/blog-1.jpeg") fixed center 0 no-repeat;
    background-size: 101%;
}

.blog .navBackground {
    background-color: rgb(248, 248, 248);
}

.blog h2 {
    padding: 85px 0 12px 0;
}

.blog .postNav {
    padding-bottom: 60px;
}

.blog .postNav li {
    float: left;
    padding-right: 5px;
}
.blog .postNav li a {
    color: rgb(153, 153, 153);
}

.blog .postNav li a:hover {
    text-decoration: line-through;
}

.blog .postNav li:nth-child(1n+2)::before {
    content: "/";
    padding-right: 5px;
    color: rgb(153, 153, 153);
}

.postMeta {
    border-bottom: 1px solid rgb(215, 215, 215);
    padding-bottom: 5px;
}

.postMeta li {
    float: left;
}

.postMeta .floatRight {
    float: right;
    padding: 0 20px 0 40px
}

.postMeta .authorName {
    padding-left: 20px;
}

.postMeta img {
    border-radius: 50%;
}

.postMeta .authorHeadshot {
    width: 55px;
    position: relative;
    top: -12px;
}

.postMeta a,
.postMeta p {
    color: rgb(153, 153, 153);
    font-size: 1rem;
}

.postMeta a:hover {
    text-decoration: line-through;
}

.postMeta .category:nth-child(1n+2)::before,
.postMeta .tag:nth-child(1n+2)::before {
    content: ", ";
    color: rgb(153, 153, 153);
}

.postMeta h5 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: normal;
}

.postContent {
    padding-top: 40px;
}

.postContent p {
    padding-bottom: 20px;
    color: rgb(153, 153, 153);
}

.postContent p:first-child {
    color: black;
    font-weight: 600;
}

.shareArticle p {
    text-transform: uppercase;
    float: left;
    font-size: 1.2rem;
}

.shareArticle ul {
    float: left;
}

.shareArticle li {
    float: left;
}

.shareArticle a {
    padding: 8px;
    color: #000;
    font-size: 1.2rem;
}

.shareArticle .socialIcons {
    padding-top: 0;
}